.Header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 70px;
}
.Header img{
    width: 140px;
    height: 40px;
}

.Header a{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-size: 19px;
}

.Header a:hover{
    color: orange;
}